<!DOCTYPE html>
<html>
<body>
	<form>
  				Nombre Articulo:
  					<input type="text" name="nombre" id="nombre"/>
  					<br>
  				Nombre Categoria:
  					<input type="text" name="nombrec" id="nombrec"/>
  					<br>
  				
  					<input type="submit" name="btn" id="btn" value="Eliminar" />
  					<hr>
  					</form>
               #{if a}
				<h1>El articulo a sido borrado exitosamente</h1>
				#{/if}
				#{if ca}
				<h1>la categoria a sido borrada exitosamente</h1>
				#{/if}
</body>
</html>